*:focus {
    outline: $orange auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-offset: 2px;
}
.visually-hidden {
    border: none !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px !important;
    outline: none;
    overflow: hidden;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
