.calculator-tree {
    button {
        background: transparent;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        height: 1.2em;
        width: 1.2em;
        &.add {
            background-image: url(/skin/adminhtml/default/default/images/rule_component_add.gif);
        }
        &.remove {
            background-image: url(/skin/adminhtml/default/default/images/rule_component_remove.gif);
        }
        &.help {
            background-image: url(/skin/adminhtml/default/default/images/fam_help.gif);
            margin-right: .5em;
        }
    }
}
