ul.calculator-tree {
    button {
        background: transparent;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        height: 1.2em;
        width: 1.2em;
        &.remove {
            background-image: url(/skin/adminhtml/default/default/images/rule_component_remove.gif);
            margin-left: .5em;
        }
    }
}
