ul.calculator-tree {
    input, select[id] {
        background: linear-gradient(to top, currentColor 0, currentColor 1px, transparent 1px);
        border: none;
        border-radius: 0;
        padding-bottom: .2em;
        padding-left: .5em;
        vertical-align: bottom;
        width: auto;
    }
    select[id] {
        font-size: .9em;
        font-weight: bold;
        padding: 0;
    }
}
