[id^="meanbee_shippingrules_form_"] .hor-scroll {
    overflow: initial;
}
.popper {
    background: #FFC;
    border-radius: 5px;
    -webkit-filter: drop-shadow(0 0 2px orange);
            filter: drop-shadow(0 0 2px orange);
    min-height: 2em;
    min-width: 2em;
    padding: 5px 5px 5px 5px;
    text-align: center;
    top: -.25em !important;
    &[x-placement^="top"] {
        margin-bottom: 5px;
        .popper__arrow {
            border-width: 5px 5px 0 5px;
            border-color: currentColor transparent transparent transparent;
            bottom: -5px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &[x-placement^="right"] {
        margin-left: 5px;
        .popper__arrow {
            border-width: 5px 5px 5px 0;
            border-color: transparent currentColor transparent transparent;
            left: -5px;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &[x-placement^="bottom"] {
        margin-top: 5px;
        .popper__arrow {
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent currentColor transparent;
            top: -5px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    &[x-placement^="left"] {
        margin-right: 15px;
        margin-bottom: 5px;
        .popper__arrow {
            border-width: 5px 0 5px 5px;
            border-color: transparent transparent transparent currentColor;
            right: -5px;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 5px;
        }
    }
    &[x-placement="left-end"] {
        border-bottom-right-radius: 0;
    }
    .popper__arrow {
        border-style: solid;
        color: #FFC;
        height: 0;
        margin: 5px;
        position: absolute;
        width: 0;
    }
    &.hidden {
        left: -100vw !important;
        opacity: 0;
        pointer-events: none;
    }
}

.postalcode-full {
    margin: 2em 1em;
    position: relative;
    &::before {
        content: 'Entire Code';
        font-size: .8em;
        left: -1em;
        margin: auto;
        position: absolute;
        right: -1em;
        top: -2.5em;
        white-space: nowrap;
    }
    &:after {
        border: solid 1px currentColor;
        border-bottom: none;
        content: '';
        height: .5em;
        left: 0;
        position: absolute;
        right: 0;
        top: -.4em;
    }
    .postalcode-part {
        margin: 0 .161616em;
        padding: 0 .161616em;
        position: relative;
        &::before {
            content: attr(data-part);
            font-size: .8em;
            left: -1em;
            margin: auto;
            min-width: 2em;
            position: absolute;
            right: -1em;
            bottom: -2.25em;
        }
        &:after {
            border: solid 1px currentColor;
            border-top: none;
            bottom: -.4em;
            content: '';
            height: .5em;
            left: 0;
            position: absolute;
            right: 0;
        }
        &[data-type='const']::before,
        &[data-type='const']::after {
            display: none;
        }
    }
}