.calculator-tree {
    margin-right: .5em;
    > ul {
        border: none;
        padding: 0 !important;
        ul {
            margin-left: 3px;
            padding-left: 8px !important;
        }
    }
}
