*:focus {
  outline: #f27c12 auto 5px;
  outline-color: -webkit-focus-ring-color;
  outline-offset: 2px;
}
.visually-hidden,
.calculator-tree .helpWrapper:not(:focus):not(:hover) .helpContainer.hidden {
  border: none !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  outline: none;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
.calculator-tree button {
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  height: 1.2em;
  width: 1.2em;
}
.calculator-tree button.add {
  background-image: url("/skin/adminhtml/default/default/images/rule_component_add.gif");
}
.calculator-tree button.remove {
  background-image: url("/skin/adminhtml/default/default/images/rule_component_remove.gif");
}
.calculator-tree button.help {
  background-image: url("/skin/adminhtml/default/default/images/fam_help.gif");
  margin-right: 0.5em;
}
div.calculator-tree input,
div.calculator-tree select[id] {
  background: linear-gradient(to top, currentColor 0, currentColor 1px, transparent 1px);
  border: none;
  border-radius: 0;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  vertical-align: bottom;
  width: auto;
}
div.calculator-tree select[id] {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0;
}
.calculator-tree .helpWrapper {
  display: inline;
  position: relative;
}
.calculator-tree .helpContainer {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fdfaac;
  border: solid 1px #f27c12;
  border-radius: 0.25em;
  bottom: 2.08em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: -10em;
  margin: auto;
  position: absolute;
  right: -10em;
  text-align: center;
  top: -6em;
  width: 10em;
}
.calculator-tree .helpContainer.hidden {
  border-color: #666e73;
}
.calculator-tree .helpContainer.hidden::before {
  border-color: #666e73;
}
.calculator-tree .helpContainer::before {
  background: inherit;
  border: solid 1px #f27c12;
  border-width: 0 1px 1px 0;
  content: '';
  display: block;
  height: 1.2em;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 4.37em;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 1.2em;
}
.calculator-tree .exampleWrapper {
  display: inline-block;
  margin: 0.3em 0 0 0;
}
.calculator-tree .examplePostalCode {
  display: inline-block;
  padding: 0 0.1em;
  position: relative;
}
.calculator-tree .examplePostalCode .part {
  display: inline-block;
  padding: 0 0.1em;
  position: relative;
  margin: 0 0.1em;
}
.calculator-tree .examplePostalCode .part::before,
.calculator-tree .examplePostalCode .part::after {
  color: #6d8791;
  content: attr(data-part);
  display: block;
  font-size: smaller;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 100%;
}
.calculator-tree .examplePostalCode .part::after {
  border: solid 1px #6d8791;
  border-width: 0 1px 1px;
  content: '';
  height: 20%;
  top: 80%;
}
.calculator-tree .examplePostalCode::before,
.calculator-tree .examplePostalCode::after {
  bottom: 80%;
  color: #666e73;
  content: 'Entire Code';
  display: block;
  font-size: smaller;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  white-space: no-wrap;
}
.calculator-tree .examplePostalCode::before {
  bottom: 110%;
  left: -2.5em;
  right: -2.5em;
}
.calculator-tree .examplePostalCode::after {
  border: solid 1px #666e73;
  border-width: 1px 1px 0 1px;
  content: '';
  height: 20%;
}
.calculator-tree .helpWrapper:not(:focus):not(:hover) .helpContainer.hidden {
  top: 0.5em;
}
.calculator-tree {
  margin-right: 0.5em;
}
.calculator-tree > ul {
  border: none;
  padding: 0 !important;
}
.calculator-tree > ul ul {
  margin-left: 3px;
  padding-left: 8px !important;
}

/*# sourceMappingURL=application.css.map */
