*:focus {
  outline: #f27c12 auto 5px;
  outline-color: -webkit-focus-ring-color;
  outline-offset: 2px;
}
.visually-hidden {
  border: none !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  outline: none;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
ul.calculator-tree button {
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  height: 1.2em;
  width: 1.2em;
}
ul.calculator-tree button.add {
  background-image: url("/skin/adminhtml/default/default/images/rule_component_add.gif");
}
ul.calculator-tree button.remove {
  background-image: url("/skin/adminhtml/default/default/images/rule_component_remove.gif");
}
ul.calculator-tree button.help {
  background-image: url("/skin/adminhtml/default/default/images/fam_help.gif");
  margin-right: 0.5em;
}
ul.calculator-tree input,
ul.calculator-tree select[id] {
  background: linear-gradient(to top, currentColor 0, currentColor 1px, transparent 1px);
  border: none;
  border-radius: 0;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  vertical-align: bottom;
  width: auto;
}
ul.calculator-tree select[id] {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0;
}
ul.calculator-tree input[type="time"]::-webkit-clear-button {
  display: none;
}
[id^="meanbee_shippingrules_form_"] .hor-scroll {
  overflow: initial;
}
.popper {
  background: #ffc;
  border-radius: 5px;
  -webkit-filter: drop-shadow(0 0 2px #ffa500);
  filter: drop-shadow(0 0 2px #ffa500);
  min-height: 2em;
  min-width: 2em;
  padding: 5px 5px 5px 5px;
  text-align: center;
  top: -0.25em !important;
}
.popper[x-placement^="top"] {
  margin-bottom: 5px;
}
.popper[x-placement^="top"] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-color: currentColor transparent transparent transparent;
  bottom: -5px;
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="right"] {
  margin-left: 5px;
}
.popper[x-placement^="right"] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-color: transparent currentColor transparent transparent;
  left: -5px;
  margin-left: 0;
  margin-right: 0;
}
.popper[x-placement^="bottom"] {
  margin-top: 5px;
}
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent currentColor transparent;
  top: -5px;
  margin-top: 0;
  margin-bottom: 0;
}
.popper[x-placement^="left"] {
  margin-right: 15px;
  margin-bottom: 5px;
}
.popper[x-placement^="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent currentColor;
  right: -5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}
.popper[x-placement="left-end"] {
  border-bottom-right-radius: 0;
}
.popper .popper__arrow {
  border-style: solid;
  color: #ffc;
  height: 0;
  margin: 5px;
  position: absolute;
  width: 0;
}
.popper.hidden {
  left: -100vw !important;
  opacity: 0;
  pointer-events: none;
}
.postalcode-full {
  margin: 2em 1em;
  position: relative;
}
.postalcode-full::before {
  content: 'Entire Code';
  font-size: 0.8em;
  left: -1em;
  margin: auto;
  position: absolute;
  right: -1em;
  top: -2.5em;
  white-space: nowrap;
}
.postalcode-full:after {
  border: solid 1px currentColor;
  border-bottom: none;
  content: '';
  height: 0.5em;
  left: 0;
  position: absolute;
  right: 0;
  top: -0.4em;
}
.postalcode-full .postalcode-part {
  margin: 0 0.161616em;
  padding: 0 0.161616em;
  position: relative;
}
.postalcode-full .postalcode-part::before {
  content: attr(data-part);
  font-size: 0.8em;
  left: -1em;
  margin: auto;
  min-width: 2em;
  position: absolute;
  right: -1em;
  bottom: -2.25em;
}
.postalcode-full .postalcode-part:after {
  border: solid 1px currentColor;
  border-top: none;
  bottom: -0.4em;
  content: '';
  height: 0.5em;
  left: 0;
  position: absolute;
  right: 0;
}
.postalcode-full .postalcode-part[data-type='const']::before,
.postalcode-full .postalcode-part[data-type='const']::after {
  display: none;
}
ul.calculator-tree {
  border: none;
  cursor: default;
  list-style: none;
  margin-right: 0.5em;
  padding: 0 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
ul.calculator-tree > li {
  border: none;
}
ul.calculator-tree > li li {
  border-left: solid 1px #6d8791;
  margin: 0 0 0 0.5em !important;
  max-height: 500vmax;
  overflow: 0;
  padding-left: 1em;
  position: relative;
  transition: opacity 0.3s, max-height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
ul.calculator-tree > li li:last-child {
  border-left: none;
}
ul.calculator-tree > li li:last-child::before {
  border-bottom: dotted 1px #666e73;
  border-left: solid 1px #6d8791;
  content: '';
  display: block;
  height: 0.8em;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.8em;
}
ul.calculator-tree > li li.deleting {
  max-height: 0;
  opacity: 0;
}
ul.calculator-tree ul {
  border: none;
  padding-left: 0 !important;
}
ul.calculator-tree li {
  border-bottom: solid 2px transparent;
}
ul.calculator-tree li .drop-target {
  border-bottom-color: #00f;
}

/*# sourceMappingURL=application.css.map */
