<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_Shippingrules>
            <version>1.0.0</version>
        </Meanbee_Shippingrules>
    </modules>
    <global>
        <models>
            <meanship>
                <class>Meanbee_Shippingrules_Model</class>
            </meanship>
        </models>
        <helpers>
            <meanship>
                <class>Meanbee_Shippingrules_Helper</class>
            </meanship>
        </helpers>
        <blocks>
            <meanship>
                <class>Meanbee_Shippingrules_Block</class>
            </meanship>
        </blocks>
    </global>
    <admin>
        <routers>
            <meanbee_shippingrules_admin>
                <use>admin</use>
                <args>
                    <module>Meanbee_Shippingrules</module>
                    <frontName>shippingrules</frontName>
                </args>
            </meanbee_shippingrules_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <meanbee_shippingrules translate="title">
                        <title>Manage Shipping Rules</title>
                        <action>shippingrules/index/index</action>
                    </meanbee_shippingrules>
                </children>
            </catalog>
        </menu>
    </adminhtml>
</config>
