<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_Shippingrules>
            <version>1.0.0</version>
        </Meanbee_Shippingrules>
    </modules>
    <global>
        <models>
            <meanship>
                <class>Meanbee_Shippingrules_Model</class>
                <resourceModel>meanship_resource</resourceModel>
            </meanship>
            <meanship_resource>
                <class>Meanbee_Shippingrules_Model_Resource</class>
                <entities>
                    <rule>
                        <table>meanship_rule</table>
                    </rule>
                </entities>
            </meanship_resource>
        </models>
        <resources>
            <meanship_setup>
                <setup>
                    <module>Meanbee_Shippingrules</module>
                </setup>
            </meanship_setup>
        </resources>
        <helpers>
            <meanship>
                <class>Meanbee_Shippingrules_Helper</class>
            </meanship>
        </helpers>
        <blocks>
            <meanship>
                <class>Meanbee_Shippingrules_Block</class>
            </meanship>
        </blocks>
    </global>
    <admin>
        <routers>
            <meanbee_shippingrules_admin>
                <use>admin</use>
                <args>
                    <module>Meanbee_Shippingrules</module>
                    <frontName>shippingrules</frontName>
                </args>
            </meanbee_shippingrules_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <meanbee_shippingrules>
                    <file>meanbee/shippingrules.xml</file>
                </meanbee_shippingrules>
            </updates>
        </layout>
        <menu>
            <catalog>
                <children>
                    <meanbee_shippingrules translate="title">
                        <title>Manage Shipping Rules</title>
                        <action>shippingrules/index/index</action>
                        <!-- Just beneath Manage Categories -->
                        <sort_order>11</sort_order>
                    </meanbee_shippingrules>
                </children>
            </catalog>
        </menu>
    </adminhtml>
    <default>
        <carriers>
            <meanship>
                <active>1</active>
                <model>meanship/carrier</model>
                <title>Shipping Method</title>
            </meanship>
        </carriers>
    </default>
</config>
