<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_Shippingrules>
            <version>2.7.4</version>
        </Meanbee_Shippingrules>
    </modules>
    <global>
        <models>
            <meanship>
                <class>Meanbee_Shippingrules_Model</class>
                <resourceModel>meanship_resource</resourceModel>
            </meanship>
            <meanship_resource>
                <class>Meanbee_Shippingrules_Model_Resource</class>
                <entities>
                    <rule>
                        <table>meanship_rule</table>
                    </rule>
                </entities>
            </meanship_resource>
        </models>
        <resources>
            <meanship_setup>
                <setup>
                    <module>Meanbee_Shippingrules</module>
                </setup>
            </meanship_setup>
        </resources>
        <helpers>
            <meanship>
                <class>Meanbee_Shippingrules_Helper</class>
            </meanship>
        </helpers>
        <blocks>
            <meanship>
                <class>Meanbee_Shippingrules_Block</class>
            </meanship>
        </blocks>
        <events>
            <sales_quote_config_get_product_attributes>
                <observers>
                    <meanship>
                        <type>singleton</type>
                        <class>Meanbee_Shippingrules_Model_Observer</class>
                        <method>salesQuoteConfigGetProductAttributes</method>
                    </meanship>
                </observers>
            </sales_quote_config_get_product_attributes>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <meanbee_shippingrules before="Mage_Adminhtml">Meanbee_Shippingrules</meanbee_shippingrules>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <meanbee_shippingrules>
                    <file>meanbee/shippingrules.xml</file>
                </meanbee_shippingrules>
            </updates>
        </layout>
        <menu>
            <catalog>
                <children>
                    <meanbee_shippingrules translate="title">
                        <title>Manage Shipping Rules</title>
                        <action>adminhtml/shippingrules/index</action>
                        <!-- Just beneath Manage Categories -->
                        <sort_order>100</sort_order>
                        <resource>meanbee_shippingrules</resource>
                    </meanbee_shippingrules>
                </children>
            </catalog>
        </menu>
    </adminhtml>
    <default>
        <carriers>
            <meanship>
                <active>1</active>
                <model>meanship/carrier</model>
                <title>Shipping Method</title>
                <show_method_code_on_grid>0</show_method_code_on_grid>
                <clip_conditions_on_grid>5</clip_conditions_on_grid>
                <condense_countries_on_grid>flag</condense_countries_on_grid>
                <colapse_conditions_on_subcondition_on_grid>1</colapse_conditions_on_subcondition_on_grid>
                <use_emoji_one>1</use_emoji_one>
            </meanship>
        </carriers>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Meanbee_Shippingrules />
            </modules>
        </suite>
    </phpunit>
</config>
